<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="/stylesheets/normalize.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link rel="stylesheet" href="/stylesheets/repgsapp.css">

        <link rel="stylesheet" href="/stylesheets/owl-carousel/owl.carousel.css">
        <link rel="stylesheet" href="/stylesheets/owl-carousel/owl.theme.css">

        <script src="/javascript/vendor/modernizr-2.6.2.min.js"></script>

        <script type="text/javascript" src="http://fast.fonts.net/jsapi/93d00101-046b-4250-8045-c3cd89e9ab4f.js"></script>

    </head>
    <body class="gradient">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->

        <div id="repgsapp-wrapper" class="edit-page">

          <header>
            <div id="header-top">
              <h1 class="titles">EDIT REPRESENT GSAPP</h1>
            </div><!-- /#header-top -->

            <div id="header-bottom">
              <div class="menu titles">
                <div class="item"><a href="/edit/pending" target="_self">Pending</a></div>
                <div class="item"><a href="/edit/published" target="_self">Published</a></div>
                <div class="item"><a href="/edit/hidden" target="_self">Hidden</a></div>
                <div class="item">
                  <form name="fetch" action="/fetch" method="get">
                    <button name="fetch" type="submit">Fetch</button>
                  </form>
                </div><!-- /.item -->
              </div>


            </div><!-- /#header-bottom -->
          </header>

          <main>
            <div class="edit-grid">
              <% for(var i = 0; i < images.length; i++){ %>
                <div class="item">
                  <img src="<%= images[i].content.images.standard_resolution.url %>" />
                  <div class="metadata">
                    <div><label>username: </label><%= images[i].content.user.username %></div>
                    <div><label>full_name: </label><%= images[i].content.user.full_name %></div>
                    <div><label>created_time: </label><%= images[i].created_time %></div>
                    <div><label>likes: </label><%= images[i].content.likes.count %></div>
                  </div><!-- /.metadata -->
                  <div class="edit-controls">
                    <form name="update" action="/api/update" method="post">
                      <label>Programs: </label><input type="text" name="programs" value="<%= images[i].programs %>">
                      <label>Location: </label><input type="text" name="location" value="<%= images[i].location %>">
                      <button name="update" type="submit" value="<%= images[i]._id %>">Save Updates</button>
                    </form>
                    <br>
                    <form class="controls-float" name="hide" action="/api/hide" method="post">
                      <button name="hide" type="submit" value="<%= images[i]._id %>">Hide</button>
                    </form>
                    <form class="controls-float" name="publish" action="/api/publish" method="post">
                      <button name="publish" type="submit" value="<%= images[i]._id %>">Publish</button>
                    </form>
                  </div><!-- /.edit-controls -->
                </div>
              <% } %>
            </div>

          </main>


        </div><!-- #repgsapp-wrapper -->








        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="javascript/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="/javascript/plugins.js"></script>
        <script src="/javascript/owl-carousel/owl.carousel.js"></script>

        <script src="/javascript/main.js"></script>


        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
