<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<% include head %>


    <body class="gradient">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->

        <div id="repgsapp-wrapper" class="edit-page">

          <form id="fetch-button" name="fetch" action="/fetch" method="get">
            <button name="fetch" type="submit">Fetch→→→→→→→</button>
          </form>

          <header>
            <div id="header-top">
              <h1 class="titles">EDIT REPRESENT GSAPP</h1>
            </div><!-- /#header-top -->

            <div id="header-bottom">
              <div class="menu titles">
                <div class="item <% if(status == 'edit'){ %> selected<% } %>"><a href="/edit" target="_self">All</a></div>
                <div class="item <% if(status == 'pending'){ %> selected<% } %>"><a href="/edit/pending" target="_self">Pending</a></div>
                <div class="item <% if(status == 'published'){ %> selected<% } %>"><a href="/edit/published" target="_self">Published</a></div>
                <div class="item <% if(status == 'hidden'){ %> selected<% } %>"><a href="/edit/hidden" target="_self">Hidden</a></div>
              </div>
            </div><!-- /#header-bottom -->
          </header>

          <main class="content">
            <div class="edit-grid">
              <% for(var i = 0; i < images.length; i++){ %>
                <div class="item images[i].status">
                  <img src="<%= images[i].content.images.standard_resolution.url %>" />
                  <div class="metadata">
                    <div><label>username: </label><%= images[i].content.user.username %></div>
                    <div><label>full_name: </label><%= images[i].content.user.full_name %></div>
                    <div><label>created_time: </label><%= images[i].created_time %></div>
                    <div><label>likes: </label><%= images[i].content.likes.count %></div>
                    <% if(images[i].content.caption != undefined){ %>
                      <div><label>caption: </label><%= images[i].content.caption.text %></div>
                    <% } %>
                  </div><!-- /.metadata -->
                  <br>–
                  <div class="edit-controls">
                    <div>
                      <label>Update tags:</label><br>
                      <form name="update" action="/api/update" method="post">
                        <label>Programs: </label><br><input type="text" name="programs" value="<%= images[i].programs %>">
                        <label>Location: </label><br><input type="text" name="location" value="<%= images[i].location %>">
                        <button name="update" type="submit" value="<%= images[i]._id %>">Save Updates</button>
                      </form>
                    </div>
                    <br>-
                    <div>
                      <form name="feature" action="/api/feature" method="post">
                        <button name="feature" type="submit" value="<%= images[i]._id %>">Feature</button>
                      </form>
                    </div>
                    <br>–
                    <div class="status-buttons">
                      <label>Current status: </label><%= images[i].status %><br>
                      <% if(images[i].status != 'pending'){ %>
                        <form class="controls-float" name="pend" action="/api/pend" method="post">
                          <button name="pend" type="submit" value="<%= images[i]._id %>">Pend</button>
                        </form>
                      <% } %>
                      <% if(images[i].status != 'hidden'){ %>
                        <form class="controls-float" name="hide" action="/api/hide" method="post">
                          <button name="hide" type="submit" value="<%= images[i]._id %>">Hide</button>
                        </form>
                      <% } %>
                      <% if(images[i].status != 'published'){ %>
                        <form class="controls-float" name="publish" action="/api/publish" method="post">
                          <button name="publish" type="submit" value="<%= images[i]._id %>">Publish</button>
                        </form>
                      <% } %>
                    </div>
                  </div><!-- /.edit-controls -->
                </div>
              <% } %>
            </div>

          </main>


        </div><!-- #repgsapp-wrapper -->




        <% include scripts %>
    </body>
</html>
